pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.post-tags {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 0rem;
    color: #9a9a9a;
}

.post-tags a {
    color: #9a9a9a;
}

.post-tags .tags {
  /*vertical-align: middle;*/
}

.post-tags .tags a {
  background-color: #EDF1F2;
  border-radius: 3px;
}

.social-buttons {
  float: right;
}

.social-buttons a{
  margin-left: 4px;
}

.social-buttons i{
  font-size: 16px;
  color: #c0c0c0
}

.sidebar-item p {
  white-space: pre;
}

.fb-like span {
  vertical-align: middle!important;
  margin-top: -11px;
}

.social-buttons-footer {
    text-align: center;
    margin-bottom: 4em
}

.social-buttons-footer i {
    font-size: 16px;
    color: #c0c0c0    
}

.social-buttons-footer a {
    margin-right: 10px
}
